/*
	Resets for all browsers
*/
$blue: lightblue;
$green: lightyellow;

body {
	font-family: sans-serif;
	background-color: $blue;
}
/* Hack that must be removed soon */
body.atlasCounterHeight {
	height: 100vh !important;
}

a {
	text-decoration: none;
}
/*
	System base styles
*/


/*
	Specific styles
*/

/* Navbar styles */
.Navbar,
.Navbar_list_segment,
.Navbar_list {
	display: flex;
}

.Navbar {
	flex-direction: column;
}

.Navbar_list {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 75px;
}
.Navbar_list.collapsed {
	height: 50px;
}

.Brand {
	font-weight: bold;
}

.Navbar_list_segment.mobile {}

.Navbar_list_segment.desktop_tablet {}

@include for-phone-only {
	body { background-color: $green }
}