/*
	Resets for all browsers
*/
body {
	font-family: sans-serif;
}
/* Hack that must be removed soon */
body.atlasCounterHeight {
	height: 100vh !important;
}

a {
	text-decoration: none;
}
/*
	System base styles
*/


/*
	Specific styles
*/

/* Navbar styles */
.Navbar,
.Navbar_list_segment,
.Navbar_list {
	display: flex;
}

.Navbar {
	flex-direction: column;
}

.Navbar_list {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 75px;
}
.Navbar_list.collapsed {
	height: 50px;
}

.Brand {
	font-weight: bold;
}

.Navbar_list_segment.mobile {}

.Navbar_list_segment.desktop_tablet {}

/* Phone */
@media (max-width: 599px) {
	/* toggle element visibility based on screen */
	.Navbar_list_segment.mobile { display: flex; }
	.Navbar_list_segment.desktop_tablet { display: none; }

}

/* Tablet portrait */
@media (min-width: 600px) {
	/* toggle element visibility based on screen */
	.Navbar_list_segment.mobile { display: none; }
	.Navbar_list_segment.desktop_tablet { display: flex; }
}

/* Tablet landscape */
@media (min-width: 900px) {
	/* toggle element visibility based on screen */
	.Navbar_list_segment.mobile { display: none; }
	.Navbar_list_segment.desktop_tablet { display: flex; }
}

/* Tablet desktop */
@media (min-width: 1200px) {
	/* toggle element visibility based on screen */
	.Navbar_list_segment.mobile { display: none; }
	.Navbar_list_segment.desktop_tablet { display: flex; }
}

/* Big desktop */
@media (min-width: 1800px) {
	/* toggle element visibility based on screen */
	.Navbar_list_segment.mobile { display: none; }
	.Navbar_list_segment.desktop_tablet { display: flex; }
}