/*
	Resets for all browsers
*/
body {
	font-family: sans-serif;
}
/* Hack that must be removed soon */
body.atlasCounterHeight {
	height: 100vh !important;
}

a {
	text-decoration: none;
}
/*
	System base styles
*/


/*
	Specific styles
*/
.Navbar_uncollapsed {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	height: 50px;
	align-items: center;
}
.Navbar_uncollapsed > li:first-child {
	padding: 100px;
}

.Navbar_uncollapsed_links {
	display: flex;
	flex-direction: row;
	padding: 0 50px;
}
.Navbar_uncollapsed_links > li {
	margin: 0 50px;
}